<div id="angularapp" class="params">
    <!--ng-include src="'views/root.html'"></ng-include-->
    <div ng-include="'views/root.html'"></div>
    <br/>
    AngularApp<br/>
    Application generation method: <select ng-model="config.appGenerator" ng-options="x for x in appGenMethods"></select><br/>
    Bootstrap CSS: <input type="checkbox" ng-model="config.bootstrapCss" /><br/>
    Bootstrap UI: <input type="checkbox" ng-model="config.bootstrapUi" /><br/>
    <div class="params" ng-show="config.bootstrapUi">
        Version: <input ng-model="config.bootstrapUiSpec.version" type="text"><br/>
    </div>
    Tabs (Bootstrap UI): <input type="checkbox" ng-model="config.featureTabs" /><br/>
    <ng-include ng-show="config.level == 'AngularAppSpec'" src="'views/generation.html'"></ng-include>
</div>