<div id="mavenproj" class="params">
    <!--ng-include src="'views/root.html'"></ng-include-->
    <div ng-include="'views/root.html'"></div>
    <div class="params">
    MavenProj<br/>
    groupId: <input ng-model="config.groupId" type="text"> artifactId: <input ng-model="config.artifactId" type="text"><br/>
    Root package: <input ng-model="config.rootPackage" type="text"><br/>
    Java version: <select ng-model="config.javaVersion" ng-options="x.id as x.name for x in javaVersionList"></select><br/>
    Application generation method: <select ng-model="config.appGenerator" ng-options="x for x in appGenMethods"></select><br/>
    Spring: <input type="checkbox" ng-model="config.featureSpring" /><br/>
    <div class="params" ng-show="config.featureSpring">
        Version: <select ng-model="config.spring.version" ng-options="x.id as x.name for x in springVersionList"></select><br/>
        Bean definition: <select ng-model="config.spring.beanDefinition" ng-options="x.id as x.name for x in beanDefinitionList"></select><br/>
        Bean instantiation: <select ng-model="config.spring.beanInstantiation" ng-options="x.id as x.name for x in beanInstantiationList"></select><br/>
    </div>
    Spring Boot: <input type="checkbox" ng-model="config.featureSpringBoot" /><br/>
    <div class="params" ng-show="config.featureSpringBoot">
        Version: <select ng-model="config.springBoot.version" ng-options="x.id as (x.name + ' (' + x.spring + ')') for x in springBootVersionList"></select><br/>
    </div>
    Hibernate: <input type="checkbox" ng-model="config.featureHibernate" /><br/>
        <div class="params" ng-show="config.featureHibernate">
            Version: <select ng-model="config.hibernate.version" ng-options="x.id as (x.name + ' (JPA ' + x.jpa + ')') for x in hibernateVersionList"></select><br/>
            EntityManager setup strategy: <select ng-model="config.hibernate.entityManagerSetupStrategy" ng-options="x.id as x.name for x in entityManagerSetupStrategyList"></select><br/>
        </div>
    Excel: <input type="checkbox" ng-model="config.featureExcel" /><br/>
    MQRabbit: <input type="checkbox" ng-model="config.featureMqRabbit" /><br/>
    Unit Tests: <input type="checkbox" ng-model="config.featureUnitTests" /><br/>
    <div class="params" ng-show="config.featureUnitTests">
        Major Version: <select ng-model="config.unitTests.majorVersion" ng-options="x.id as x.name for x in unitTestsMajorVersionList"></select><br/>
    </div>
    <div class="params">
        Invocation:<br/>
        IDE - Eclipse: <input type="checkbox" ng-model="config.invokeEclipse" /><br/>
        IDE - IntelliJ: <input type="checkbox" ng-model="config.invokeIntelliJ" /><br/>
        Command line: <input type="checkbox" ng-model="config.invokeCli" /><br/>
    </div>
    </div>
    <br/>
    <ng-include ng-show="config.level == 'MavenProjSpec'" src="'views/generation.html'"></ng-include>
</div>