<div id="mavenproj" class="params">
    <!--ng-include src="'views/root.html'"></ng-include-->
    <div ng-include="'views/root.html'"></div>
    <div class="params">
    MavenProj<br/>
    groupId: <input ng-model="config.groupId" type="text"> artifactId: <input ng-model="config.artifactId" type="text"><br/>
    Root package: <input ng-model="config.rootPackage" type="text"><br/>
    Java version: <select ng-model="config.javaVersion" ng-options="x for x in javaVersionList"></select><br/>
    Application generation method: <input ng-model="config.appGenerator" type="text"><br/>
    Feature Unit Tests: <input type="checkbox" ng-model="config.featureUnitTests" /><br/>
    Feature Spring: <input type="checkbox" ng-model="config.featureSpring" /><br/>
    <div class="params" ng-show="config.featureSpring">
        Configuration basis: <select ng-model="config.spring.configBasis" ng-options="x for x in springConfigBasisList"></select><br/>
    </div>
    Feature Excel: <input type="checkbox" ng-model="config.featureExcel" /><br/>
    Feature MQRabbit: <input type="checkbox" ng-model="config.featureMqRabbit" /><br/>
    <div class="params">
        Invocation:<br/>
        IDE - Eclipse: <input type="checkbox" ng-model="config.invokeEclipse" /><br/>
        IDE - IntelliJ: <input type="checkbox" ng-model="config.invokeIntelliJ" /><br/>
        Command line: <input type="checkbox" ng-model="config.invokeCli" /><br/>
    </div>
    </div>
    <br/>
    <ng-include ng-show="config.level == 'MavenProjSpec'" src="'views/generation.html'"></ng-include>
</div>