<div id="webapp" class="params">
    <!--ng-include src="'views/mavenproj.html'"></ng-include-->
    <div ng-include="'views/mavenproj.html'"></div>
    <br/>
    WebApp<br/>

    <div class="params">
        Allowed invocation protocol:<br/>
        <input type="radio" ng-model="config.sslRestricted" value="false" />non-secured & secured with SSL (NONE)<br/>
        <input type="radio" ng-model="config.sslRestricted" value="true" />only secured with SSL (CONFIDENTIAL)<br/>
    </div>
    Target container: <select ng-model="config.targetContainer" ng-options="x for x in targetContainerList"></select><br/>
    Web framework: <select ng-model="config.webFramework" ng-options="x for x in webFrameworkList"></select><br/>
    <div ng-show="config.jersey" class="params">
    Jersey version: <input ng-model="config.jersey.jerseyVersion" type="text"><br/>
    </div>
    <br/>
    <ng-include ng-show="config.level == 'WebAppSpec'" src="'views/generation.html'"></ng-include>
</div>
